<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
</div>
<!-- Search form -->
<div class="md-form mt-0">

    <input class="form-control" type="text" placeholder="Search for Video Games by Name" aria-label="Search">
</div>
<table class="table table-striped table-responsive-md btn-table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Copies Sold</th>
        <th scope="col">Release Year</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Mario</th>
        <td>45,000,000,000</td>
        <td>1978</td>
        <td>
            <button type="button" class="btn btn-info btn-rounded btn-sm m-0">Remove</button>
        </td>


    </tr>
    <tr>
        <th scope="row">Splinter Cell</th>
        <td>50,000</td>
        <td>2003</td>
        <td>
            <button type="button" class="btn btn-info btn-rounded btn-sm m-0">Remove</button>
        </td>
    </tr>
    <tr>
        <th scope="row">Halo</th>
        <td>400,000</td>
        <td>2008</td>
        <td>
            <button type="button" class="btn btn-info btn-rounded btn-sm m-0">Remove</button>
        </td>

    </tr>
    </tbody>
</table>
<h3>Form to Add a New Video Game</h3>

<form>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Name</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Copies Sold</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Release Year</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add New Video Game</button>
</form>