<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
</div>

<!-- Search Bar -->
<div class="md-form mt-0">
    <input class="form-control" type="text" placeholder="Search by Genre Name or Description" aria-label="Search">
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Genre</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">FPS</th>
        <td>Stands for "first-person shooter". Essentially where guns are involved from the natural point of view</td>
    </tr>
    <tr>
        <th scope="row">Futuristic</th>
        <td>This genre means that the game's animations are from futuristic elements such as aliens, robots, etc.</td>
    </tr>
    <tr>
        <th scope="row">Splitscreen</th>
        <td>This genre means the game can be played on a split screen locally between 2+ players</td>
    </tr>
    </tbody>
</table>

<h3>Form to Add a New Genre</h3>

<form>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Genre Name</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add New Genre</button>
</form>